/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul li {
  list-style-type: none;
  display: inline;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  /* align-content: space-evenly; */
  border: 2px solid #ff385c;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

form .group {
  justify-content: space-between;
  width: 100%;
}

form .item {
  display: flex;
  justify-content: space-between;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */
footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

/* ------  Navigation  --------- */
@media all and (min-width: 480px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
  }
  header nav ul {
    flex-wrap: wrap;
  }
  .logo {
    margin: 14px;
    padding-top: 0;
  }
  /* -------  Form ------- */
  form {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  form div {
    flex-direction: column;
  }

  form button {
    flex: 1;
  }
  form select,
  form input {
    margin-bottom: 10px;
  }

  /* -------  Main Section ------- */
  .group {
    flex-direction: row;
    justify-content: space-between;
  }
  .item-double {
    flex: 2;
    align-self: center;
  }
  .align-center {
    align-self: center;
  }
  .cut-in-half {
    flex-basis: calc(50% - 20px);
  }
  .change-to-wrap {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #host {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
